h1 {
    color: red;
    font-size: 200px;

}

img:hover{
   background-color: red;      
}

.bacon{

   background-attachment:  red;
}
.circular{
   border-radius: 100%;

}

#heading {
   color: blue;
}
#big{
   font-size: 1000px;

}